/* CSS-Datei fuer Stundeplanprojekt */
/* Manuel Erdin, Gym Liestal 2007 */

/* Allgemeine Tags */
html {
	margin: 0;
	padding: 0;
	color: black;
}

a {
	color: black;
}

body {
	margin: 10;
	background-color: white;
	padding: 0;
	font-family: 'PT Sans Caption', Univers, Helvetica, sans-serif;
	font-size: 14px;
	/*	background-image: url('hubble_carina.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;*/
	/*background: url('invalid url') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/
}

#warn {
	font-weight: bold;
	color: #0000ff;
}

/* Hauptbereiche */
#titel {
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 15px;
	margin: 0 0 5px 0;
	border: 0;
	color: white;
	background: #000000;
	width: 100%;
	height: 50px;
	background-image: url(uhr_klein.gif);
	background-repeat: no-repeat;
}

#titel2 {
	position: absolute;
	top: 15px;
	right: 50px;
	padding: 0px;
	margin: 0 0 5px 0;
	border: 0;
	color: white;
	background: #000000;
	width: 200px;
	height: 30px;
	text-align: right;
}

#navigation {
	position: absolute;
	top: 85px;
	left: 0px;
	padding: 0 0 0 0;
	margin: 0 5px 0 0;
	border: 0;
	color: #000066;
	background: #ccccff;
	width: 120px;
	height: 1800px;
	font-size: 80%;
}

#inhalt {
	position: absolute;
	top: 85px;
	left: 130px;
	padding: 0;
	margin: 0 5px 0 0;
	border: 0;
	color: #000000;
	background: #ffffff;
}

/* Listen fuer Navigation */
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li b {
	padding: 0 0 0 15px;
	text-decoration: none;
}

li a {
	display: block;
	color: #000000;
	background-color: #ccccff;
	padding: 0.25em 15px;
	/*	width: 85%; */
	text-decoration: none;
}

li a:hover {
	color: #ffffff;
	background-color: #6666ff;
}

/* Tabellen */
table.stupla {
	border-collapse: collapse;
	border: 0px solid #111111;
	font-size: 100%;
	layout: fixed;
}

table.stupla th {
	padding: 0.3em 0.7em;
	text-align: center;
	border: 2px solid transparent;
	background: #fff;
	background: rgba(255, 255, 255, 0.5);
	background-clip: padding-box;
}

table.stupla td {
	padding: 1px;
	text-align: left;
	border: 0px dotted #222222;
	border-spacing: 0px;
	border-collapse: collapse;
	white-space: nowrap;
}

table.menu {
	border-collapse: collapse;
	border: 0px solid #111111;
	font-size: 100%;
	layout: fixed;
}

table.menu th {
	padding: 0.3em 0.7em;
	text-align: center;
	border: 0px solid transparent;
	background: #fff;
	background: rgba(255, 255, 255, 0.5);
	background-clip: padding-box;
}

table.menu td {
	padding: 1px;
	text-align: left;
	white-space: nowrap;
	border: 0px solid transparent;
	background: #fff;
	background: rgba(255, 255, 255, 0.5);
	background-clip: padding-box;
}

select {
	background: #fff;
	background: rgba(255, 255, 255, 0.5);
	background-clip: padding-box;
}

table.inner {
	border-collapse: collapse;
	border: 0px solid #111111;
	border-spacing: 0px;
	font-size: 75%;
	/*	layout: fixed; */
	width: 100%;
}

table.inner th {
	padding: none;
	text-align: center;
	border: 0px dotted #111111;
}

table.inner td {
	padding: 0px;
	text-align: center;
	border-right: 1px solid transparent;
	border-spacing: 0px;
	border-collapse: collapse;
	background-clip: padding-box;
	border-radius: 2px;
}

table.inner td:last-child {
	border-right: none;
}

table.index {
	border-collapse: collapse;
	border: 0px solid #111111;
	border-spacing: 0px;
	font-size: 75%;
	/*	layout: fixed; */
	width: 100%;
}

table.index th {
	padding: none;
	text-align: center;
	border: 0px dotted #111111;
}

table.index td {
	padding: 0px;
	text-align: center;
	border: 1px solid transparent;
	border-spacing: 0px;
	border-collapse: collapse;
	background-clip: padding-box;
	border-radius: 0px;
	background-color: #fff2cc;
	background-color: rgba(255, 242, 204, 0.7);
}

td.lo {
	background-color: #ffffff;
	background-color: rgba(255, 255, 255, 0.0);
}

td.n {
	background-color: #ffffdd;
	background-color: rgba(255, 255, 221, 0.1);
}

td.u {
	background-color: #f700ff;
	background-color: rgba(143, 143, 143, 0.7);
}

td.bfk {
	background-color: #fee7a0;
	background-color: rgba(255, 242, 204, 0.7);
}

td.ff {
	background-color: #fadecb;
	background-color: rgba(162, 82, 82, 0.765);
}

td.wk {
	background-color: #e2efdb;
	background-color: rgba(226, 239, 220, 0.7);
}

td.h {
	background-color: #c6edff;
	background-color: rgba(198, 237, 255, 0.7);
}

/* Farbe fuer Zeitangaben in Tabellen */
.tdrand {
	color: #000000;
	background: #eeeeee;
	text-align: left;
}

.tdrand a {
	color: #000000;
	text-decoration: none;
}

.tdrand2 {
	color: #000000;
	background: #cccccc;
	text-align: left;
}

.tdrandoben {
	border-top: 1px solid #111111;
}

.tdobertitel {
	font-weight: bold;
	color: #ffffff;
	background: #333399;
	text-align: center;
}

.tduntertitel {
	font-weight: bold;
	background: #bcbcff;
	border-top: 1px solid #111111;
	border-bottom: 1px solid #111111;
	text-align: center;
}

.tduntertitel2 {
	font-weight: bold;
	background: #9a9aff;
	border-top: 1px solid #111111;
	border-bottom: 1px solid #111111;
	text-align: center;
}

.tdwarn {
	font-weight: bold;
	color: #ffffff;
	background: #ff3333;
	text-align: center;
}

.tdmarkiert {
	background: #9999ff;
	text-align: center;
}

.tdmarkiert a {
	color: #000000;
	text-decoration: none;
}

.tdmarkiert a:hover {
	color: #eeeeff;
}

.tdmarkiert2 {
	background: #bcbcff;
	text-align: center;
}

.tdmarkiert3 {
	background: #eeeeee;
	text-align: center;
}

.tdgestreift {
	background: #efefff;
	text-align: center;
}

.tdgeloescht {
	color: #555555;
	background: #999999;
	text-align: center;
}

.tdgeloescht a {
	color: #555555;
	text-decoration: none;
	text-align: center;
}

.tdgeaendert {
	color: #000000;
	background: #ff3333;
	text-align: center;
}

.tdgeaendert a {
	color: #000000;
	background: #ff3333;
	text-decoration: none;
	text-align: center;
}

.tdgeaendert2 {
	color: #000000;
	background: #ffcccc;
	text-align: center;
}

.tdgeaendert2 a {
	color: #000000;
	background: #ffcccc;
	text-decoration: none;
	text-align: center;
}

.tdbemerkung {
	background: #ffaa33;
	text-align: center;
}

.tdbemerkung2 {
	background: #ffdd99;
	text-align: center;
}

.tdoriginal {
	background: #eeeeee;
	font-size: 75%;
	text-align: center;
}

.grossetabelle {
	font-size: 67%;
}

table.grossetabelle td,
th {
	padding: 0.1em 0.5em;
}

h1 {
	font-size: 110%;
	font: bold;
	background: #fff;
	background: rgba(255, 255, 255, 0.5);
}

h2 {
	font-size: 100%;
	font: bold;
	background: #fff;
	background: rgba(255, 255, 255, 0.5);
}

h5 {
	font-size: 80%;
	font: bold;
	background: #fff;
	background: rgba(255, 255, 255, 0.5);
}

p {
	font-size: 100%;
	font: normal;
}